body {
    color: #fff
}

select,
input,
textarea {
    background-color: #fff;
    border: #333 solid 1px
}

a {
    -webkit-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
    color: #fff
}

.text-secondary {
    color: #fa0
}

.normal-bd-btn {
    color: #333;
    border: #333 1px solid;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s
}

.normal-bd-btn:hover {
    background-color: #eee
}

.normal-bd-btn:active {
    color: rgba(51, 51, 51, .8)
}

.primary-btn {
    background-color: #0d57a7;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.primary-btn:hover {
    background-color: #0d57a7;
    color: #fff;
    opacity: .8
}

.primary-btn:active {
    background-color: #0d57a7;
    color: #fff;
    opacity: 1
}

.secondary-btn {
    background-color: #fa0;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.secondary-btn:hover {
    background-color: #fa0;
    color: #fff;
    opacity: .8
}

.secondary-btn:active {
    background-color: #fa0;
    color: #fff;
    opacity: 1
}

.note-btn {
    background-color: #0d57a7;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.note-btn:hover {
    background-color: #0d57a7;
    color: #fff;
    opacity: .8
}

.note-btn:active {
    background-color: #0d57a7;
    color: #fff;
    opacity: 1
}

.event-tag {
    color: #0d57a7;
    border: #0d57a7 solid 1px
}

.price-tag {
    color: #fa0
}

.tag {
    background-color: #0d57a7;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.tag:hover {
    opacity: .8
}

.tag:active {
    opacity: .5
}

.product .detail #info-block .tag-group .tag {
    background-color: #eee;
    color: #333
}

form.amount-form {
    border: #333 solid 1px
}

form.amount-form input {
    border: none
}

form.amount-form button {
    color: #fff;
    border: #fff 1px solid;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    border: none
}

form.amount-form button:hover {
    background-color: #eee
}

form.amount-form button:active {
    color: rgba(255, 255, 255, .8)
}

form.amount-form button.icon-less {
    border-right: #333 solid 1px
}

form.amount-form button.icon-plus {
    border-left: #333 solid 1px
}

h1 {
    background-color: #0d57a7;
    color: #fff
}

.header_top {
    background-color: #0d57a7;
    color: #fff
}

header {
    background-color: #fff;
    -webkit-box-shadow: rgba(51, 51, 51, .6) 0 2px 5px;
    box-shadow: rgba(51, 51, 51, .6) 0 2px 5px
}

header .item {
    background-color: #fff;
    color: #000;
    cursor: pointer
}

header .item>.icon {
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

header .item:hover>.icon {
    opacity: .6
}

header .item:active>.icon {
    opacity: .6
}

header form {
    border: #333 solid 1px;
    background-color: #fff
}

header form input {
    border: none
}

header .sub-nav {
    background-color: rgba(255, 255, 255, .9);
    border: #eee solid 1px;
    border-top: none;
    opacity: 1
}

header .sub-nav li {
    border-bottom: #eee solid 1px;
    color: #333
}

header .sub-nav li:hover {
    background-color: rgba(51, 51, 51, .2)
}

header .sub-nav li:last-child {
    border: none
}

.header nav .item.history .sub-nav>li {
    background-color: transparent
}

.header nav .item.history .sub-nav>li .img {
    background-color: #fff
}

.header nav .item.cart label {
    background-color: #fa0
}

.main a {
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.main a:hover {
    background-color: inherit;
    color: inherit;
    opacity: .8
}

.main a:active {
    background-color: inherit;
    color: inherit;
    opacity: 1
}

.main .bn a:hover {
    opacity: .9
}

.sidebar-R {
    background-color: #eee
}

.sidebar-R a {
    -webkit-transition: opacity .8s;
    -o-transition: opacity .8s;
    transition: opacity .8s
}

.sidebar-R a:hover {
    opacity: .8
}

.sidebar-R .title {
    border-bottom: #fa0 solid 1px
}

.sidebar-R .item {
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.sidebar-R .item:last-child {
    border-bottom: none
}

.menu {
    background-color: #eee
}

.menu .tab-menu li#woman-shop {
    background-color: #fd8;
    color: #333;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.menu .tab-menu li#woman-shop:hover {
    background-color: #fd8;
    color: #333;
    opacity: .8
}

.menu .tab-menu li#woman-shop:active {
    background-color: #fd8;
    color: #333;
    opacity: 1
}

.menu .tab-menu li#main-shop {
    background-color: #0d57a7;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.menu .tab-menu li#main-shop:hover {
    background-color: #0d57a7;
    color: #fff;
    opacity: .8
}

.menu .tab-menu li#main-shop:active {
    background-color: #0d57a7;
    color: #fff;
    opacity: 1
}

.menu .tab-menu li.current {
    background-color: #eee;
    color: #333;
    border-bottom: none;
    opacity: 1
}

.menu .item {
    background-color: #0d57a7;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.menu .item:hover {
    background-color: #0d57a7;
    color: #fff;
    opacity: .8
}

.menu .item:active {
    background-color: #0d57a7;
    color: #fff;
    opacity: 1
}

.menu .item.fast {
    background-image: none;
    background-color: #fa0
}

.menu .item.hover {
    background-color: #333;
    opacity: .6
}

.menu .sub-menu a li {
    color: #333;
    cursor: pointer;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.menu .sub-menu a li:hover {
    color: #fff;
    background-color: #333
}

.menu .sub-menu a li:active {
    color: #fff;
    background-color: rgba(51, 51, 51, .5)
}

.menu .sub-menu li.current {
    background-color: #333;
    color: #fff
}

.breadcrumb {
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.breadcrumb a {
    background-color: transparent;
    color: #0d57a7;
    cursor: pointer;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
}

.breadcrumb a:hover {
    color: rgba(13, 87, 167, .8)
}

.breadcrumb a:active {
    color: rgba(13, 87, 167, .5)
}

.float-side .history {
    background-color: #eee
}

.float-side .history .title {
    background-color: #0d57a7;
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s
}

.float-side .history .title:hover {
    background-color: rgba(13, 87, 167, .8)
}

.float-side .history .title:active {
    background-color: rgba(13, 87, 167, .5)
}

.float-side .history .item {
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.float-side .history .item:last-child {
    border-bottom: none
}

.gotop {
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    opacity: .8
}

.gotop:hover {
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    opacity: 1
}

.gotop:active {
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
    opacity: .6
}

footer,
.footer {
    background-color: #000;
    color: #fff
}

footer .map li,
.footer .map li {
    border-top: rgba(255, 255, 255, .6) 1px dotted;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

footer .map li:hover,
.footer .map li:hover {
    color: #fff;
    background-color: #333
}

footer .map li:active,
.footer .map li:active {
    color: #fff;
    background-color: rgba(51, 51, 51, .5)
}

footer .map li:last-child,
.footer .map li:last-child {
    border-bottom: rgba(255, 255, 255, .6) 1px dotted
}

footer .info,
.footer .info {
    border: rgba(255, 255, 255, .6) 1px solid
}

footer .info a,
.footer .info a {
    background-color: transparent;
    color: #fa0;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

footer .info a:hover,
.footer .info a:hover {
    background-color: transparent;
    color: #fa0;
    opacity: .8
}

footer .info a:active,
.footer .info a:active {
    background-color: transparent;
    color: #fa0;
    opacity: 1
}

.pop {
    background-color: #fff;
    border: #0d57a7 solid 1px
}

.pop>.title {
    background-color: #0d57a7;
    color: #fff
}

.pop>.title .icon {
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.pop>.title .icon:hover {
    background-color: inherit;
    color: inherit;
    opacity: .8
}

.pop>.title .icon:active {
    background-color: inherit;
    color: inherit;
    opacity: 1
}

.pop .address .circle {
    border: #333 solid 2px
}

.pop .address .item {
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.pop .address .item:last-child {
    border-bottom: none
}

.pop .address .item:hover {
    background-color: #eee
}

.pop button.confirm {
    background-color: #fa0;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.pop button.confirm:hover {
    background-color: #fa0;
    color: #fff;
    opacity: .8
}

.pop button.confirm:active {
    background-color: #fa0;
    color: #fff;
    opacity: 1
}

.pop button.cancel {
    border-top: rgba(0, 0, 0, .3) 1px solid
}

.pop button.cancel:hover {
    background-color: #eee
}

button.buy {
    background-color: #fa0;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

button.buy:hover {
    background-color: #fa0;
    color: #fff;
    opacity: .8
}

button.buy:active {
    background-color: #fa0;
    color: #fff;
    opacity: 1
}

button.cart {
    background-color: #0d57a7;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

button.cart:hover {
    background-color: #0d57a7;
    color: #fff;
    opacity: .8
}

button.cart:active {
    background-color: #0d57a7;
    color: #fff;
    opacity: 1
}

button.trace {
    border: #333 solid 1px;
    background-color: inherit;
    color: #333;
    cursor: pointer;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
}

button.trace:hover {
    color: rgba(51, 51, 51, .8)
}

button.trace:active {
    color: rgba(51, 51, 51, .5)
}

.pager ul {
    border: rgba(0, 0, 0, .3) 1px solid
}

.pager ul li {
    border-right: rgba(0, 0, 0, .3) 1px solid
}

.pager ul li.current {
    color: #000
}

.pager ul a:last-child li {
    border: none
}

.pager a {
    color: #333;
    border: #333 1px solid;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    border: none
}

.pager a:hover {
    background-color: #eee
}

.pager a:active {
    color: rgba(51, 51, 51, .8)
}

.extra.round-corner {
    border: rgba(0, 0, 0, .3) 1px solid
}

.extra .title {
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.extra .item {
    border: gray solid 1px
}

button.slide-ctrl {
    border: rgba(0, 0, 0, .3) 1px solid;
    background-color: #fff;
    color: transparent;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    opacity: .8
}

button.slide-ctrl:hover {
    background-color: #fff;
    color: transparent;
    opacity: 1
}

button.slide-ctrl:active {
    background-color: #fff;
    color: transparent;
    opacity: .6
}

.home .post li {
    border-bottom: #eee solid 1px
}

.home .post li.title {
    background-color: #fa0;
    color: #fff
}

.home .list {
    background-color: #eee
}

.home .list.list-article {
    background-color: transparent
}

.home .list a:hover {
    opacity: .8
}

.home .list .title {
    border-bottom: #0d57a7 solid 1px
}

.home .list.list-article .title {
    border-bottom: none
}

.home .list .title h2 {
    color: #0d57a7
}

.home .list .item {
    background-color: #fff;
    border: rgba(0, 0, 0, .3) 1px solid
}

.home .list .item .more {
    color: #0d57a7
}

.list-article .response {
    border-top-color: #eee;
    color: #999
}

.list-article .owl-carousel .owl-nav button.owl-next,
.list-article .owl-carousel .owl-nav button.owl-prev {
    background-color: #00000066;
    color: #fff
}

.list-article .owl-carousel .owl-nav button.owl-next:hover,
.list-article .owl-carousel .owl-nav button.owl-prev:hover {
    background-color: #000000ad
}

.list-article .owl-dots button.owl-dot {
    background-color: rgba(0, 0, 0, .15)
}

.list-article button.owl-dot.active {
    background-color: rgba(0, 0, 0, .5)
}

.slogan {
    color: #0d57a7
}

.product .intro {
    border-bottom: #eee solid 1px
}

.product .intro .content p {
    color: rgba(0, 0, 0, .6)
}

.product .intro .content>li {
    border-bottom: #eee solid 1px
}

.product .intro .content .last {
    color: red
}

.product .btn-group {
    text-align: center;
    border-bottom: none
}

.product .content .slogan {
    color: #0d57a7
}

.product .content h1 {
    background-color: transparent;
    color: #333
}

.product .content .last b {
    color: red
}

.product .content .bought i {
    color: #fa0
}

.product .detail .tab {
    background-color: #0d57a7;
    color: #fff
}

.product .detail .tab .btn {
    background-color: #0d57a7;
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s
}

.product .detail .tab .btn:hover {
    background-color: #093e78
}

.product .detail .tab .btn:active {
    background-color: #073260
}

.product .detail .tab .btn.current {
    opacity: 1;
    background-color: #093e78
}

.product .detail-block .content>ul {
    background-color: #eee
}

.product .detail-intro li {
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.product .detail-intro .content>.cart {
    border: 1px solid rgba(0, 0, 0, .3)
}

.product .detail-block .img {
    background-color: #fff
}

.product .detail-intro .amount-form {
    background-color: #fff
}

.product.list .item {
    border: #fa0 solid 1px
}

.product.list .item a {
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.product.list .item a:hover {
    background-color: transparent;
    color: inherit;
    opacity: .8
}

.product.list .item a:active {
    background-color: transparent;
    color: inherit;
    opacity: 1
}

.product.list .trace {
    border: rgba(0, 0, 0, .3) 1px solid;
    border-left: none;
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.product.list .trace:hover {
    background-color: transparent;
    color: transparent;
    opacity: .8
}

.product.list .trace:active {
    background-color: transparent;
    color: transparent;
    opacity: 1
}

.product.set .msg {
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.product.set .set-cart {
    background-color: #fff;
    border: rgba(0, 0, 0, .3) 1px solid
}

.product.set .set-cart .list {
    border-right: rgba(0, 0, 0, .3) 1px solid
}

.product.set .set-cart span.round-corner {
    border: rgba(0, 0, 0, .3) 1px solid
}

.product.set .set-cart .img button {
    background-color: rgba(0, 0, 0, .6);
    color: #fff
}

.product.set .set-cart button.disabled {
    color: #333
}

.product.set .msg {
    border-top: rgba(0, 0, 0, .3) 1px solid
}

.product.set .set-list .title {
    color: #fa0
}

.product.set .price strong {
    color: #0d57a7
}

.product.set .item.selected {
    border: #fa0 solid 2px
}

.product.set .item.selected button.buy {
    background-color: #eee;
    color: #333;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    opacity: .8
}

.product.set .item.selected button.buy:hover {
    background-color: #eee;
    color: #333;
    opacity: 1
}

.product.set .item.selected button.buy:active {
    background-color: #eee;
    color: #333;
    opacity: .6
}

.cart .cart-step {
    background-color: #000;
    color: #fff
}

.cart .cart-step li {
    opacity: .6
}

.cart .cart-step li.current {
    opacity: 1
}

.cart .cart-first .tab {
    border: #0d57a7 solid 2px;
    background-color: #0d57a7
}

.cart .cart-first .tab li {
    color: rgba(255, 255, 255, .6);
    background-color: #0d57a7
}

.cart .cart-first .tab li.current {
    background-color: #fff;
    color: #0d57a7
}

.cart .cart-first .title {
    border-top: #0d57a7 solid 2px;
    border-bottom: #0d57a7 solid 2px;
    color: #0d57a7
}

.cart .event-block .yet b,
.cart .event-block .yet .event-tag {
    background-color: #eee;
    color: #333;
    border: #333 solid 1px
}

.cart .event-block .gift {
    border-top: #333 solid 1px
}

.cart .event-block .gift .cart-item {
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px
}

.cart .order-detail .order thead {
    color: #000;
    background-color: transparent;
    border-bottom: 2px solid #000
}

.cart .done .sub-title {
    border-bottom: 1px solid #000
}

.cart .done .sub-title b {
    color: #fa0
}

.cart .done a {
    color: #0d57a7
}

.cart-list .set-item {
    border: #333 solid 1px
}

.cart-list .cart-item {
    border-top: gray solid 1px
}

.cart-list .cart-item:first-child {
    border: none
}

.cart-second .pay,
.cart-second .send {
    border: #333 solid 1px
}

.cart-second .tab .btn {
    background-color: #eee;
    color: inherit;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    opacity: .8
}

.cart-second .tab .btn:hover {
    background-color: #eee;
    color: inherit;
    opacity: 1
}

.cart-second .tab .btn:active {
    background-color: #eee;
    color: inherit;
    opacity: .6
}

.cart-second .tab .btn.current {
    background-color: transparent;
    opacity: 1
}

.cart-second .send .tab {
    border-bottom: #333 solid 1px
}

.cart-second .circle {
    border: #333 solid 1px
}

.cart-second form {
    border: #333 solid 1px
}

.cart-second form label,
.cart-second form small {
    border-bottom: #333 solid 1px
}

.cart-second form label select,
.cart-second form small select {
    border: none
}

.cart-second form label select:first-child,
.cart-second form small select:first-child {
    border-right: #333 solid 1px
}

.cart-second form label a,
.cart-second form small a {
    background-color: #fa0;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    border-right: #333 solid 1px
}

.cart-second form label a:hover,
.cart-second form small a:hover {
    background-color: #fa0;
    color: #fff;
    opacity: .8
}

.cart-second form label a:active,
.cart-second form small a:active {
    background-color: #fa0;
    color: #fff;
    opacity: 1
}

.cart-second form label:last-child {
    border-bottom: none
}

.cart-second input {
    border: none
}

.cart-second textarea {
    width: 100%
}

.cart-total {
    border-top: #0d57a7 solid 2px;
    border-bottom: #333 solid 1px
}

.cart-total li {
    border-bottom: #333 solid 1px
}

.cart-total li:last-child {
    border: none
}

.cart-total label {
    border: #333 solid 1px
}

.cart-total label input {
    border: none;
    background-color: transparent
}

.cart-total label button.icon-b {
    border-left: 1px solid #000;
    background-color: #fff;
    color: #333;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.cart-total label button.icon-b:hover {
    background-color: #fff;
    color: #333;
    opacity: .8
}

.cart-total label button.icon-b:active {
    background-color: #fff;
    color: #333;
    opacity: 1
}

.cart-total label button.success-bg {
    border-left: #394 solid 1px
}

.cart-total label button.warning-bg {
    border-left: red solid 1px
}

.cart-extra .title {
    border-top: #fa0 solid 2px;
    border-bottom: #fa0 solid 2px;
    color: #fa0
}

.member .array {
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.member .array button.round-corner {
    color: #333;
    border: #333 1px solid;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s
}

.member .array button.round-corner:hover {
    background-color: #eee
}

.member .array button.round-corner:active {
    color: rgba(51, 51, 51, .8)
}

.member .tab .btn {
    border: 2px solid #000;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.member .tab .btn:hover {
    background-color: #000;
    color: #fff;
    opacity: .8
}

.member .tab .btn:active {
    background-color: #000;
    color: #fff;
    opacity: 1
}

.member .tab .current {
    background-color: #fff;
    color: #000
}

.member h4 {
    color: #0d57a7;
    border-bottom: #0d57a7 solid 1px
}

.member h4 small {
    color: #333
}

.member h4 small a {
    background-color: #fa0;
    color: #fff
}

.member h4>b {
    color: #fa0
}

.member .content .title em {
    color: #fa0
}

.member p.content .sub-title {
    color: #0d57a7
}

.member form {
    border: rgba(0, 0, 0, .3) 1px solid
}

.member form .form-tab .btn {
    background-color: #eee;
    color: #333;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.member form .form-tab .btn:hover {
    background-color: #eee;
    color: #333;
    opacity: .8
}

.member form .form-tab .btn:active {
    background-color: #eee;
    color: #333;
    opacity: 1
}

.member form .form-tab .btn.current {
    background-color: #fff;
    opacity: 1
}

.member form .form-tab .btn:last-child {
    border-left: rgba(0, 0, 0, .3) 1px solid
}

.member form button.confirm {
    background-color: #0d57a7;
    color: #fff;
    cursor: pointer;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

.member form button.confirm:hover {
    background-color: #0d57a7;
    color: #fff;
    opacity: .8
}

.member form button.confirm:active {
    background-color: #0d57a7;
    color: #fff;
    opacity: 1
}

.member form label {
    border-top: rgba(0, 0, 0, .3) 1px solid
}

.member form label:first-child {
    border: none
}

.member form input {
    border: none;
    border-left: rgba(0, 0, 0, .3) 1px solid
}

.member .amount-form {
    border: #333 solid 1px
}

.member .amount-form input {
    border: none
}

.member thead {
    background-color: #000;
    color: #fff
}

.member tbody tr {
    color: #333;
    border: #333 1px solid;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s;
    border: none;
    border-bottom: rgba(0, 0, 0, .3) 1px solid;
    cursor: default
}

.member tbody tr:hover {
    background-color: #eee
}

.member tbody tr:active {
    color: rgba(51, 51, 51, .8)
}

.member .point span {
    color: #0d57a7
}

.member .order-detail .list-x {
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px
}

.member .order-detail .hint.disabled .icon {
    background-color: transparent;
    opacity: .6
}

.member .order-detail .status .title {
    border-top: #333 solid 1px;
    border-bottom: #333 solid 1px
}

.member .order-detail .status .title em {
    color: #333
}

.member .order-detail tfoot {
    border-top: #eee solid 2px
}

.member #faq-block .sub-title {
    color: #0d57a7
}

.member #account-block .tab .btn {
    border: #333 solid 2px;
    background-color: #333
}

.member #account-block .tab .btn.current {
    background-color: #fff;
    color: #333;
    border-bottom: none
}

.member #account-block .tab-content {
    border: #333 solid 2px
}

.member #account-block #address-form {
    background-color: #fff
}

.member #account-block #address-form .title {
    color: #333
}

.member #account-block #address-form .close {
    background-color: #eee;
    color: #333;
    cursor: pointer;
    -webkit-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s
}

.member #account-block #address-form .close:hover {
    background-color: #d5d5d5
}

.member #account-block #address-form .close:active {
    background-color: #c8c8c8
}

.member #account-block #address-form button {
    border-top: rgba(0, 0, 0, .3) 1px solid
}

.member form.info .title {
    background-color: #eee
}

.member form.info input,
.member form.info select {
    border: none;
    background-color: transparent
}

.member form.info .sub-title {
    border-right: rgba(0, 0, 0, .3) 1px solid
}

.member form.info small {
    color: #0d57a7;
    border-top: rgba(0, 0, 0, .3) 1px solid
}

.member form.info .img {
    border-top: rgba(0, 0, 0, .3) 1px solid
}

.member form.info .img-block {
    background-color: #eee;
    border: #333 solid 1px
}

.member #qa-block .item {
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.member #qa-block .item small {
    color: rgba(0, 0, 0, .3)
}

.member #qa-block .item .ans {
    background-color: #eee
}

.unbox h1 {
    background-color: transparent;
    color: #0d57a7;
    border-bottom: #0d57a7 solid 1px
}

.unbox .tab {
    border-top: #0d57a7 solid 1px;
    border-bottom: #0d57a7 solid 1px;
    border-left: none;
    border-right: none
}

.unbox .tab .btn {
    border: none;
    background-color: transparent;
    color: #0d57a7;
    opacity: .6
}

.unbox .tab .btn:hover,
.unbox .tab .btn.current {
    border-bottom: #0d57a7 solid 2px;
    background-color: transparent;
    color: #0d57a7;
    opacity: 1
}

.unbox .item {
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.unbox .item .more {
    color: #0d57a7;
    border: #0d57a7 1px solid;
    cursor: pointer;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s
}

.unbox .item .more:hover {
    background-color: #0d57a7;
    border-color: #0d57a7;
    color: rgba(255, 255, 255, .8)
}

.unbox .item .more:active {
    color: #fff
}

.unbox_nav li.current {
    color: #0d57a7;
    border-bottom: 3px solid #0d57a7
}

.bn .unbox_item {
    box-shadow: 1px 1px 5px #999
}

.unbox_left .sorttitle {
    border-bottom: 1px solid #ccc
}

.unbox_tag .btn {
    color: #0d57a7;
    border: 1px solid #0d57a7;
    transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s
}

.unbox_tag .btn:hover,
.unbox_tag .btn:active {
    background-color: #0d57a7;
    color: #fff;
    opacity: 1;
    transition: all .2s;
    -o-transition: all .2s;
    -webkit-transition: all .2s
}

.unbox_continude {
    color: #999
}

.unbox_right .unbox_right_header {
    background-color: #fff
}

.unbox_right .secondary-btn {
    color: #000
}

.unbox_search {
    border-bottom: 1px solid #ccc
}

.unbox_right .unbox_title {
    border-bottom: 1px solid #ccc
}

.about .tab-content p a {
    color: #0d57a7
}

.about .tab-content p a:hover {
    opacity: .6
}

.about .tab-content p u {
    color: #fa0
}

.about .tab-content p .hint {
    background-color: red;
    color: #fff
}

.about #online-block .list {
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.about #online-block .list span {
    border-bottom: dotted 1px rgba(0, 0, 0, .3)
}

.about #online-block form {
    border: none;
    border-top: #fa0 solid 2px
}

.about #online-block form label {
    border: none
}

.about #online-block form label textarea {
    width: 100%
}

.about .ques {
    background-color: #eee
}

.sign h2 {
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.sign .sub-title {
    border-bottom: rgba(0, 0, 0, .3) 1px solid
}

.sign small {
    color: #0d57a7
}

.disabled,
.disabled:hover,
.disabled:active {
    background-color: rgba(0, 0, 0, .3);
    cursor: default!important;
    color: #000;
    opacity: .5
}

#sort-block .array>a {
    color: #fff
}

#sort-block .array {
    background-color: #000;
    color: #fff;
    border-color: #000
}

#sort-block .array.current,
#sort-block .array.current>a {
    background-color: #fff;
    color: #000
}

.success-color {
    color: #394!important
}

.success-bg {
    background-color: #394!important
}

.success-bd {
    border: #394 solid 1px!important
}

.success-bd-bold {
    border: #394 solid 2px!important
}

.warning-color {
    color: red!important
}

.warning-bg {
    background-color: red!important;
    color: #fff!important
}

.warning-bd {
    border: red solid 1px!important
}

.warning-bd-bold {
    border: red solid 2px!important
}