<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>
      18 U.S.C. § 2257 Record-Keeping Requirements Compliance Statement
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body style="margin: 0; padding: 20px; font-family: Arial">
    <h1>18 U.S.C. § 2257 Record-Keeping Requirements Compliance Statement</h1>

    <p>
      All models, actors, actresses and other persons that appear in any visual
      depiction of actual sexually explicit conduct appearing on this website
      were over the age of eighteen (18) years at the time of the creation of
      such depictions.
    </p>

    <p>
      The operators of this website are not the "primary producer" of any
      depictions of actual sexually explicit conduct contained in the website.
    </p>

    <p>
      The content on this website is provided by third-party websites. For
      inquiries regarding records required pursuant to 18 U.S.C. § 2257, please
      direct your request to the respective content producers.
    </p>

    <p>
      This website is a content aggregator and does not produce any of the
      content displayed.
    </p>

    <p>
      All records required to be maintained pursuant to U.S.C. Title 18 §2257
      and associated regulations are kept by the respective content producers.
    </p>

    <p>
      If you have any questions regarding this compliance statement, please
      contact us.
    </p>
  </body>
</html>
