<%- include include/boot-head.html%>
<!-- Main -->
  <div class="wrap hero">
    <div class="card">
      <div class="title" style="text-align: center;">
        <div class="code" style="padding: 16px; font-size: 24px;">404</div>
        <div style="padding: 16px; ">
          <div style="font-size:18px;font-weight:800">你访问的页面不存在或已被移除</div>
        </div>
      </div>
    </div>
  </div>

  <!-- Recommended -->
    <div class="wrap section">
      <div class="sec-hd">
        <h3 style="padding: 16px 0;">你可能也会喜欢</h3>
      </div>
     <%- include include/boot-list.html%>
    </div>


<%- include include/boot-footer.html%>