<%- include include/head.html%>
<div class="js-vserson hidden"></div>
<div class="videotitle">
    <h4 class="vtitle"><a href="javascript:;"> </a><span><%=video.title%></span></h4>
</div>

<div class="mgplaylist">
    <div class="playerbox" id="playerbox">

        <nav id="dplayer">

    </nav>
    </div>
    <div class="js-vserson hidden"></div>
    <div>
        <%
        for(var keys=0;keys<show.length;keys++){
        var list=show[keys]
        %>
        <h4 class="ctitle"><strong><%=list.title%></strong></h4>
        <div id="video_list_li" class="video_list_li">
            <div class="vlink" style="margin-left: 10px;">
                <%
                for(var key=0;key<list.docs.length;key++){
                var item=list.docs[key]
                %>
                <a href="<%=item.href%>"<% if(item.href == video.org){ %>class="visited" <%} %>><%=item.title%></a>
                <%
                }
                %>
            </div>
        </div>
        <%
        }
        %>
    </div>
<!--    <div class="video_box">-->
<!--        <div class="video_img"><img src="<%=video.img%>" alt="<%=video.title%>"></div>-->
<!--        <div class="video_info">-->
<!--            <%-video.description%>-->
<!--        </div>-->
<!--    </div>-->
    <%
    if(video){
    var list=video
    %>
    <div class="m-movies js-m-movies clearfix">
        <h1 class="title">
            <strong>
                <a href="javascript:;">相关视频</a>
            </strong>
        </h1>
        <div class="js-vserson"></div>
        <%- include include/itemPage.html%>
    </div>
    <%
    }
    %>

</div>

<script src="https://cdn.jsdelivr.net/npm/hls.js@0.14.17/dist/hls.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/dplayer@1.26.0/dist/DPlayer.min.js"></script>
<input type="hidden" id="video-in" value="<%= video.url %>">
<script>
    var dp = new DPlayer({
        container: document.getElementById('dplayer'),
        autoplay: true,
        theme: '#FADFA3',
        loop: true,
        lang: 'zh-cn',
        screenshot: true,
        hotkey: true,
        preload: 'auto',
        /*logo: '/favicon.ico',*/
        volume: 0.7,
        mutex: true,
        video: {
            url:document.querySelector('#video-in').value,
            pic:" <%= video.img %>",
            thumbnails:" <%= video.img %>",
            type: 'auto',
        },
    });
    setTimeout(function () {
        dp.play()
    },300)
    $(function () {
        if(/[0-9]+porn5f/gi.test(location.href)){
            $.ajax({
                type : "post",
                url : '<%=tplBase%>/hanime/realte.html',
                dataType : "html",
                data:{
                    video: {
                        site:'porn5f'
                    }
                },
                success : function(res) {
                    $('.js-u-movie-cont').remove()
                    $('.js-m-movies').append(res)
                    setTimeout(function () {
                        lazyload.update()
                    },600)
                }
            })
        }

    })
</script>
<%- include include/foot.html%>
