<%- include include/head.html%>


      <div id="slider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#slider" data-slide-to="0" class="active"></li>
          <li data-target="#slider" data-slide-to="1"></li>
          <li data-target="#slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="item active"><a href="/video/3412.htm"><img
                  src="style/images/Hd0b2a14a58ad4fb29c3c3627a39b0f42s.jpg"><span class="carousel-caption">《新喋喋人生 第一季》全集/Alan Bennett’s Talking Heads Season 1在线观看</span><span
                  class="carousel-bg"></span></a></div>
          <div class="item"><a href="/video/3219.htm"><img
                  src="style/images/007UW77jly1ger7nafylbj30sg0cn0vn.jpg"><span class="carousel-caption">《外星也难民 第一季》全集/Solar Opposites Season 1在线观看</span><span
                  class="carousel-bg"></span></a></div>
          <div class="item"><a href="/video/3193.htm"><img
                  src="style/images/H30423d58d8af477682161f3b4ef59723J.png"><span class="carousel-caption">《上载新生 第一季》全集/Upload Season 1在线观看</span><span
                  class="carousel-bg"></span></a></div>
        </div>
        <a class="left carousel-control" href="#slider" role="button" data-slide="prev"><span
                class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a><a
              class="right carousel-control" href="#slider" role="button" data-slide="next"><span
              class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></div>
      <div class="m-movies clearfix">
        <h1 class="title">
          <strong>
            <a href="/last-update"> 每日更新</a>
          </strong>
          <a class="more" href="/last-update">
            更多<i>&gt;&gt;</i>
          </a>
        </h1>
        <article class="u-movie"><a title="《侦探人生 第一季》全集/My Life Is Murder Season 1在线观看"
                                    href="https://91mjw.com/video/3917.htm">
          <div class="list-poster"><img
                  data-original="https://imgcdn.91pic.org/img/poster/0170093e8b57d2f9.jpg" class="thumb"/>
          </div>
          <h2>侦探人生 第一季</h2></a>
          <div class="pingfen"><span></span></div>
          <div class="zhuangtai"><span>更至3集</span></div>
          <div class="meta"><span class="tags">2021-01-26 更新</span></div>
        </article>
        <%- include include/page.html%>
      </div>


<%- include include/foot.html%>