<%- include include/head.html%>
<article class="article-content">
    <div class="video_box">
        <div class="video_img"><img src="style/images/f4a22d5df1934c02.jpg" alt="战神金刚：传奇的保护神 第四季的海报"></div>
        <div class="video_info"><strong>导演:</strong> Eugene Lee<br/>
            <strong>编剧:</strong> Mitch Iverson / Tim Hedrick / Joshua Hamilton<br/>
            <strong>主演:</strong> 瑞斯·达比 / 乔什·基顿 / 泰勒·莱伯恩 / 杰里米·沙达 / 贝克斯·泰勒-克劳斯 / 史蒂文·元 / 艾丽卡·鲁特雷尔 / 马克·罗斯顿 / 克里·萨莫 /
            弗雷德·塔特西奥 / Kimberly Brooks / Ike Amadi / A.J. LoCascio<br/>
            <strong>类型:</strong> 科幻 / 动画<br/>
            <strong>官方网站:</strong> http://www.voltron.com/<br/>
            <strong>国家/地区:</strong> 美国<br/>
            <strong>语言:</strong> 英语<br/>
            <strong>首播:</strong> 2017-10-13(美国)<br/>
            <strong>季数:</strong> 4<br/>
            <strong>集数:</strong> 6<br/>
            <strong>单集时长:</strong> 23分钟<br/>
            <strong>IMDb编码:</strong> tt7506664<br/>
            <strong>评分:</strong> 8.4
        </div>

    </div>

    <h4 class="ctitle"><strong>在线播放:</strong></h4>
    <div id="video_list_li" class="video_list_li">
        <div class="vlink" style="margin-left: 10px;"><a href="javascript:void(0);" onclick="play(this)"
                                                         id="NDM4LTEtMA==">第01集</a><a href="javascript:void(0);"
                                                                                      onclick="play(this)"
                                                                                      id="NDM4LTEtMQ==">第02集</a><a
                href="javascript:void(0);" onclick="play(this)" id="NDM4LTEtMg==">第03集</a><a href="javascript:void(0);"
                                                                                             onclick="play(this)"
                                                                                             id="NDM4LTEtMw==">第04集</a><a
                href="javascript:void(0);" onclick="play(this)" id="NDM4LTEtNA==">第05集</a><a href="javascript:void(0);"
                                                                                             onclick="play(this)"
                                                                                             id="NDM4LTEtNQ==">第06集</a>
        </div>
        <script>function play(objInfo) {
            var id = $(objInfo).attr("id");
            window.location.href = "/vplay/" + id + ".html";
        }</script>
    </div>
    <h4 class="ctitle"><strong>剧情简介:</strong></h4>
    <p class="jianjie"><span>　　《新战神金刚：传奇的守护者》是美国梦工厂公司、WorldEventsProductions公司推出，StudioMir公司制作的一部美国系列网络电视动画。是日本二十世纪福克斯在1980年代推出的《战神金刚》系列动画的重置版本。<br/>
　　本剧所有角色均源自原版《战神金刚》，人物及背景是二维动画绘制，战斗部分运用CGI三维特效技术。<br/>
　　FourEarthteens-Keith,Lance,Hunk,PidgeandtheirmentorShiro-whobecomethelastlineofdefenseforthegalaxyinanintergalacticbattleagainsttheevilalienforceledbyKingZarkon.<br/>
　　千年以来，邪恶的格拉帝国（GalraEmpire）对其他星球的征服和毁灭使得整个宇宙深受其害。唯一能威胁并阻止帝国的只有由5个狮型机器人组成的100多米高的机器人战士——被称为“宇宙保护神”的战神金刚（Voltron），他们驾驶员则被称为圣骑士（Paladins）。在阿尔特亚星球被格拉帝国毁灭的前夕，战神金刚被阿尔特亚星球国王阿佛尔分开，以阻止战神金刚落入格拉帝国国王扎肯手中。阿佛尔国王将五狮与女儿阿劳拉的生命之力连接到一起，并将其送到了宇宙的其他位置等待着下一代圣骑士的降临。阿劳拉公主，她的侍从克兰，以及藏着黑狮的阿尔特亚城堡藏匿在阿鲁斯星球上。目前，格拉帝国的征服和寻找战神金刚之路引导着他们向地球所在的太阳系袭来。一队宇宙飞行员：希罗，吉斯，兰斯，皮吉，汉克，发现了蓝狮，并立刻被卷入了格拉人的战争之中。他们见到了阿劳拉公主，称为了新的圣骑士，同时还重新将五狮组成了战神金刚来与扎肯战斗。最终，他们阻止了扎肯的计划，击败了整个格拉帝国。</span>
    </p>
    <h4 class="ctitle"><strong>影片截图:</strong></h4>
    <p class="jietu"><img alt="战神金刚 第四季的剧照"
                          data-original="https://imgcdn.91pic.org/mjw/87c01ec7gy1fshqnl3g62j20f008fdfv.jpg"
                          class="thumb" src="style/images/poster.png"><img alt="战神金刚 第四季的剧照"
                                                                           data-original="https://imgcdn.91pic.org/mjw/87c01ec7gy1fshqnl53ubj20f008ft8w.jpg"
                                                                           class="thumb" src="style/images/poster.png">
    </p><h4 class="ctitle"><strong>资源下载:</strong></h4>
    <ul class="down-list" id="download-list">
        <li title="战神金刚：传奇的保护神.Voltron.Legendary.Defender.S04E01.720P.WEBRIP.x264.中英字幕特效版-深影字幕组.mp4"><span>战神金刚：传奇的保护神.Voltron.Legendary.Defender.S04E01.720P.WEBRIP.x264.中英字幕特效版-深影字幕组.mp4</span><a
                rel="nofollow"
                href="ed2k://|file|%E6%88%98%E7%A5%9E%E9%87%91%E5%88%9A%EF%BC%9A%E4%BC%A0%E5%A5%87%E7%9A%84%E4%BF%9D%E6%8A%A4%E7%A5%9E.Voltron.Legendary.Defender.S04E01.720P.WEBRIP.x264.%E4%B8%AD%E8%8B%B1%E5%AD%97%E5%B9%95%E7%89%B9%E6%95%88%E7%89%88-%E6%B7%B1%E5%BD%B1%E5%AD%97%E5%B9%95%E7%BB%84.mp4|248738865|8DCD5809B12C82BC69BDFCD09831D9B4|h=M554C77JY3HBU4QQT5Y4NKIJ6AQL5YWQ|/"
                target="_self">电驴下载</a><a rel="nofollow" href="magnet:?xt=urn:btih:04564C2617C36903CAD6770A87CAD86489A9D719
" target="_self">磁力下载</a></li>

    </ul>
</article>
<%- include include/foot.html%>