<%- include include/boot-head.html%>
<div class="container px-0">
     <div class="hot-wrap">
             <div class="hot-tags">
                    <a class="hot-tag" href="https://porncvd.com/javs/6940ec83f9bea083aa04d669.html">[Custom Udon] 眠った子</a>
                    <a class="hot-tag" href="https://porncvd.com/javs/67fa0e16f01ca78acfec6b7c.html"><%=t('豪放獅子女Jenny')%></a>
            </div>
         </div>
    <style>
        .el-input__inner {
            -webkit-appearance: none;
            background-color: #fff;
            background-image: none;
            border-radius: 4px;
            border: 1px solid #dcdfe6;
            box-sizing: border-box;
            color: #606266;
            display: inline-block;
            font-size: inherit;
            height: 40px;
            line-height: 40px;
            outline: none;
            padding: 0 15px;
            transition: border-color .2s cubic-bezier(.645,.045,.355,1);
            width: 100%;
        }
        .el-button {
            display: inline-block;
            line-height: 1;
            white-space: nowrap;
            cursor: pointer;
            background: #fff;
            border: 1px solid #dcdfe6;
            color: #606266;
            -webkit-appearance: none;
            text-align: center;
            box-sizing: border-box;
            outline: none;
            margin: 0;
            transition: .1s;
            font-weight: 500;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            padding: 12px 20px;
            font-size: 14px;
            border-radius: 4px;
            color: #fff;
            background-color: #67c23a;
            border-color: #67c23a;
        }
    </style>

    <div class="my-2 px-1 videotitle">
        <h4 class="vtitle min-mx--30 ">
            <span><%=video[`title${tplLang}`]%></span></h4>
    </div>
    <div class="js-vserson hidden"></div>
    <div class="hidden js-vaid-box">
        <div style="display: flex;" >
            <input type="text" autocomplete="off" placeholder="<%=tplLang ? 'Already a VIP? Please enter the order number to verify VIP': '已經是VIP?,請輸入訂單號驗證VIP'%>" class="el-input__inner js-code">
            <button type="button" class="el-button el-button--success is-round js-check " ><!----><!----><span><%=tplLang ? 'Verify VIP': '驗證VIP'%> </span></button>
        </div>
    </div>
    <div class="mgplaylist" style="position: relative">

        <div class="playerbox <%if(!video.url){%> hidden <%}%>" id="playerbox">

            <nav id="dplayer">

            </nav>
        </div>
        <div >
            <!--<h5>APP已上线，推荐APP</h5>-->
            <!--<div>-->

 
            <!--    <a style="display: inline-block;margin: 2px;" href="https://www.migu.tv/?channelCode=114" target="_blank" rel="nofollow noopener noreferrer">-->
            <!--        <div class="img-rounded image_1-1" style="height: 48px;width: 48px; background-image: url('https://txjgk87n.com/static/image/ic_launcher.png?_v=20211128');background-size: 100%;" alt="51漫画"></div>-->
            <!--        <h8 style="text-align: center;">91糖心</h8>-->
            <!--    </a>-->


            <!--</div>-->
        <!--</div>-->
        <%
        if(video.tag && video.tag){
        %>
        <div class="min-mx--30 px-1 my-1">
            <%
            for(let k=0;k<video.tag.length;k++){
            %>
            <a href="/tag/<%=video.tag[k]%>/<% if(curSite){%>?site=<%=curSite%><%}%>" class="btn my-1 btn-secondary btn-sm"><%=video.tag[k]%></a>

            <%
            }
            %>
        </div>
        <%
        }
        %>
        <div class="js-vserson hidden"></div>

        <div style="color: #b8babc;" class="min-mx--30 px-1 videotitle">
            <p><%=video[`desc${tplLang}`] || video[`desc`]%></p>
        </div>




        <div class="m-movies js-m-movies clearfix">
            <h1 class="title min-mx--30 px-1">
                <strong>
                    <a href="javascript:;">
                        Related video
                    </a>
                </strong>
            </h1>
            <div class="js-vserson"></div>
            <%
            if(typeof docs != "undefined"){
            %>
            <%- include include/boot-list.html%>
            <%
            }
            %>

        </div>

    </div>
    
    <input type="hidden" data-type="<%-video.site%>" id="video-in" data-text="<%=tplLang ? 'The order number is a vip certificate, please copy and keep it, remember' : '訂單號為vip憑證，請複制保持，切記' %>" value="<%= video.url %>">
    <script>
        var url=document.querySelector('#video-in').value
        url= url.indexOf('http') == -1 ? "<%= video.source %>"+url : url
        var img="<%= video.img %>"
        img=img.indexOf('http') == -1 ? "<%= video.source %>"+img : img
        var types= $('#video-in').attr('data-type')
        var time=0
        var dp = new DPlayer({
            container: document.getElementById('dplayer'),
            autoplay: false,
            theme: '#FADFA3',
            loop: true,
            lang: 'zh-cn',
            screenshot: true,
            hotkey: true,
            preload: 'auto',
            /*logo: '/favicon.ico',*/
            volume: 0.7,
            mutex: true,
            video: {
                url:url,
                pic:img,
                thumbnails:img,
                type: 'auto',
            },
        });
    </script>
</div>

<%- include include/boot-footer.html%>
