<!DOCTYPE html>
<html>
<head>
    <%- include meta.html%>
    <link href="/style/css/bootstrap.min.css" rel="stylesheet">
    <link href="/style/css/app.css" rel="stylesheet">
    <link href="/style/css/home.css" rel="stylesheet">
    <link href="/style/css/video.css" rel="stylesheet">
    <script src="/style/js/lazyload.min.js"></script>
    <script type="text/javascript" src="/style/js/jquery.min.js"></script>
    <script src="/style/js/hls.min.js"></script>
    <script src="/style/js/DPlayer.min.js"></script>
    <style>
        .header{
            position: static;
        }
    </style>
</head>    
<body>
<header class=" header d-flex flex-column align-items-center" >
    <div style="flex-wrap: wrap" class=" d-flex align-items-center my-2" >
        <nav>
            <div class="menu-container">
                <ul class="nav">
                    <li
                        class="nav-list">
                        <a href="<%=basePath == '' ? '/' : basePath%>">
                            首页
                     </a>
                    </li>
                    <%
                    if(curSite){
                        gNav=genreNav
                    }
                    for(var keys=0;keys<gNav.filter((v,k) => k<=8).length;keys++){
                    let item = gNav[keys];
                    %>
                            <%
                            if(item.href){
                            %>
                            <li class="nav-list"><a class="js-nav-head "
                                target="<%=item.target?item.target : '_self' %>" 
                                href="<%=basePath%><%=item.href%>"
                                ><%=t(item.text)%></a></li>
                            <%
                            }else{
                            %>
                            <li class="nav-list"><a class="js-nav-head "
    
                                href="<%=basePath%>/cat/<%=item%>/<%=curSite ? `?site=${curSite}` : ''%>"
                                ><%=t(item)%></a></li>
                            <%
                            }
                            %>
                    <%
                    }
                    %>

                </ul>
            </div>
        </nav>
        <form id="searchDesktopForm" class="search" action="/search/javs">
            <input class="search-txt" type="text" name="search_query" placeholder="search" value="">
            <input class="btn" type="submit" value="Search"
                   style="background:url('/se2.png') no-repeat center center #ec585e;text-indent: -99999px">
        </form>
        <%if(curSite !='hanime'){%>
        <div class="lang-switch" basePath="<%=basePath%>">
              <%if(isCN){%>
              <a href="javascript:;" class="lang-btn active">中文:简体</a>      
              <%
                }else{
                %>
                <a href="javascript:;" class="lang-btn active">中文:繁體</a>
             <%
            }
            %> 
        </div>
        <%
            }
            %> 
    </div>
    <div style="background-color: #1a1a1a;width: 100%">
        <div style="padding: 8px 0;flex-wrap: wrap" class="d-flex  justify-content-center">
            <ul class=" d-flex  align-items-center" style="overflow-x: auto;">
                <%
                let navOther= gNav.filter((v,k) => k>8);
                for(let keys=0;keys<navOther.length;keys++){
                let item = navOther[keys];
                %>
                            <%
                            if(item.href){
                            %>
                            <li class="nav-list"><a class="js-nav-head mr-1"
                                target="<%=item.target?item.target : '_self' %>" 
                                href="<%=basePath%><%=item.href%>"
                                >
                                <span class="iconicfill-hash text-danger "></span><%=t(item.text)%>
                            </a></li>
                            <%
                            }else{
                            %>
                            <li class="nav-list"><a class="js-nav-head mr-1"
    
                                href="<%=basePath%>/cat/<%=item%>/"
                                >
                                <span class="iconicfill-hash text-danger "></span><%=t(item)%>
                            </a></li>
                            <%
                            }
                            %>
                <%
                }
                %>
            </ul>
        </div>
    </div>
</header>
<script>
    $('.lang-switch').click(function(){
        var fullPath = window.location.pathname + window.location.search;
        if($(this).attr('basePath') == '/zh-CN'){
            fullPath=fullPath.replace('/zh-CN','')
        }else{
           fullPath='/zh-CN'+fullPath
        }
        if(fullPath=='' || fullPath=='//'){
          fullPath='/'
        }
       location.href=fullPath
    })
</script>

<div class="container container-content no-cate-container-content" >
    <div class="main mobile-main">
         <%- include pic.html%>
        <section>

            <!--            <div class="list-title mobile-list-title mt-3">-->
            <!--                <div class="title-line"></div>-->
            <!--                <h2>短片最新</h2>-->
            <!--                <div class="clearfix"></div>-->
            <!--            </div>-->
