
</section>
</div>
</div>
<footer class="footer" style="color: #fff">
    <div class="container">
        <div class="js-vserson hidden"></div>
        <div class="text-center">
            <!-- 友情链接 - -->
            <%
            for(var keys=0;keys<frends.length;keys++){
            var item=frends[keys]
            %>
            <a target="_blank" href="<%=item.href%>"><%=item[`title${tplLang}`] || item[`title`]%></a> |
            <%
            }
            %>
        </div>
        <div class="text-center">
        <a href="/about" target="_blank" title="关于我们">eamil:</a>  armandolailah70591@gmail.com
        <a href="/sitemap.xml" target="_blank" title="sitemap">sitemap</a><br>
        <br>Copyright
        <p class="text-center">©2024 </p>
        </div>
    </div>
</footer>
<div class="js-dp-box"></div>

<script>
    var lazyload = new LazyLoad({
        elements_selector: '.lazyload',
        class_loading: 'lazy-loading',
        class_loaded: 'lazy-loaded',
        attr_to_webp: 'data-not-to-webp',
        //parentLoadingClass: LOADING_PARENT_CLASS,
        callback_error: function (el) {
            // 背景图不存在不触发此回调
            var src = el.getAttribute('data-src').replace(/\.webp/gi, '');
            if (el.tagName === 'IMG') {
                el.setAttribute('src', src);
            }
        }
    });
</script>
				
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/boston-dev/status@1.0/layer_mobile/need/layer.css">
<script src="https://cdn.jsdelivr.net/gh/boston-dev/status@1.0/layer_mobile/layer.js"></script>

<div class="gogo-sd-yu-js"></div>

</body>
</html>
