 <%
if(meta.titlePage){
%>
<section class="tag-hero-ultra">
  <h1 class="tag-hero-ultra__title"><%=meta.titlePage%></h1>
  <p class="tag-hero-ultra__desc">
   <%=meta.descPage%>
  </p>
</section>
<%
}
%>
<%- include forItem.html%>
<%
if(typeof range != "undefined"){
%>
<div class="d-flex align-items-center justify-content-center">
    <ul class="pagination">
        <%
        for(let k=0;k<range.length;k++){
        %>
        <li class="page-item  <%=range[k].class%>">
            <%
            if(range[k].href){
            %>
            <a class="page-link" href="<%=range[k].href%>"><%=range[k].text ||  range[k].title%></a>
            <%
            }else{
            %>
            <a class="page-link" href="javascript:;"><%=range[k].text ||  range[k].title%></a>
            <%
            }
            %>
        </li>
        <%
        }
        %>
    </ul>
</div>

<%
}
%>

