<div class="widget widget_hot">
    <h3 class="title">
        <strong><span class="glyphicon glyphicon-fire-1"></span>
          24小时热播
        </strong>
    </h3>
    <div class="widget_hot_inner">
        <article class="u-movie">
            <a title="《爱，死亡和机器人 第一季》全集/Love, Death &amp; Robots Season 1在线观看"
                href="https://91mjw.com/video/1295.htm">
            <div class="list-poster">
                <img class="thumb"
              data-original="https://imgcdn.91pic.org/img/poster/1b8b40ef1d6b1b62.jpg"
              src="https://imgcdn.91pic.org/img/poster/1b8b40ef1d6b1b62.jpg" style="">
            </div>
            <h2>爱，死亡和机器人 第一季</h2></a>
            <div class="pingfen"><span>Top 1</span></div>
            <div class="zhuangtai"><span>18集全</span></div>
        </article>
        <div class="widget-top-list">
            <ul>
                <li><span>04</span><a href="https://91mjw.com/video/3991.htm">紧急呼救 第四季</a></li>
            </ul>
        </div>
    </div>
</div>
