<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-CN" />
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
<meta name="applicable-device" content="pc,mobile">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title><%=meta[`title${tplLang}`] || meta[`title`]%></title>
<% if (meta && meta.canonical) { %>
<link rel="canonical" href="<%= meta.canonical %>">
<% } %>
<meta name="keywords" content="<%=meta[`keywords${tplLang}`] || meta[`keywords`]%>">
<meta name="description" content="<%=meta[`desc${tplLang}`] || meta[`desc`]%>">
<% if (meta && meta.og) { %>
<meta property="og:type" content="<%= meta.og.type || 'website' %>">
<meta property="og:title" content="<%= meta.og.title || meta.title %>">
<meta property="og:description" content="<%= meta.og.desc || meta.desc %>">
<meta property="og:url" content="<%= meta.canonical %>">
<% if (meta.og.image) { %>
<meta property="og:image" content="<%= meta.og.image %>">
<% } %>
<% } %>

<meta name="author" content="picgaze.com" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-MQQ5DV7CGT"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-MQQ5DV7CGT');
</script>
<% if (meta && meta.jsonLd) { %>
<script type="application/ld+json">
<%- JSON.stringify(meta.jsonLd) %>
</script>
<% } %>
