<meta name="robots" content="noarchive">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-CN" />
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
<meta name="applicable-device" content="pc,mobile">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title><%=meta[`title${tplLang}`] || meta[`title`]%></title>
<meta name="keywords" content="<%=meta[`keywords${tplLang}`] || meta[`keywords`]%>">
<meta name="description" content="<%=meta[`desc${tplLang}`] || meta[`desc`]%>">
<meta name="author" content="porncvd.com" />
<!-- Google tag (gtag.js) -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PSXZYMR9Y0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PSXZYMR9Y0');
</script>
<!-- <script src="/ykdwboznqiii.php"></script>
<script async src="//d.smopy.com/d/?resource=pubJS"></script> -->