<meta name="robots" content="<%= (meta && meta.robots) ? meta.robots : 'index,follow,noarchive' %>">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Language" content="zh-CN" />
<meta http-equiv="Cache-Control" content="no-siteapp">
<meta http-equiv="Cache-Control" content="no-transform">
<meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
<meta name="applicable-device" content="pc,mobile">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
<title><%=t(meta.title)%></title>
<% if (meta && meta.canonical) { %>
<link rel="canonical" href="<%= meta.canonical %>">
<% } %>
<meta name="keywords" content="<%=t(meta.keywords)%>">
<meta name="description" content="<%=t(meta.desc)%>">
<% if (meta && meta.og) { %>
<meta property="og:type" content="<%= meta.og.type || 'website' %>">
<meta property="og:title" content="<%= t(meta.og.title || meta.title)%>">
<meta property="og:description" content="<%=t(meta.og.desc || meta.desc)%>">
<meta property="og:url" content="<%= meta.canonical %>">
<% if (meta.og.image) { %>
<meta property="og:image" content="<%= meta.og.image %>">
<% } %>
<% } %>

<meta name="author" content="porncvd.com" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ME8E2N0LEQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ME8E2N0LEQ');
</script>
<% if (meta && meta.jsonLd) { %>
<script type="application/ld+json">
<%- JSON.stringify(meta.jsonLd) %>
</script>
<% } %>
