<style>
  .dsydu {
    width: 100% !important;
    text-align: center;
  }
  .dsydu-href {
    text-align: center;
    display: block;
    text-align: center;
    max-width: 100%;
  }
  .dsydu-href img {
    max-width: 100%;
  }
  @media (min-width: 560px) {
    .dsydu {
      margin: 0 auto;
    }
    .dsyfe {
      width: 960px;
      display: inherit;
      margin: 0 auto;
    }
  }
</style>
<div class="dsydu">
  <a
    class="dsydu-href"
    href=" https://vv29.life/8888"
    target="_blank"
    rel="noopener noreferrer"
  >
    <img
      class="lazyload"
      data-src="https://tp29.life/960x120.gif"
      src=""
      alt=""
    />
  </a>
</div>
